[Unit]
Description=tetosong updater
Wants=tetosong.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "curl -s https://raw.githubusercontent.com/eric5949/tetosong/refs/heads/main/autoupdater/updater.sh | bash"
